

<body>


<div class="header group">
  <div class="header-inner group" itemscope="" itemtype="http://schema.org/Organization">
    <div class="logomark">
      <a href="/"><img itemprop="logo" class="logo shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-logo-outlined.png" height="60" width="60" alt="">
      <h1>Howard County Public School System</h1></a>
    </div>
    <div class="header-search">
      <form action="http://search.hcpss.org/search" method="get" id="search-form">
        <input type="hidden" name="site" value="www_main_site">
        <input type="hidden" name="proxystylesheet" value="hcpss_main_frontend">
        <input type="hidden" name="client" value="hcpss_main_frontend">
        <input type="hidden" name="access" value="p">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="oe" value="UTF-8">
        <input type="hidden" name="filter" value="0">
        <input type="hidden" name="numgm" value="5">
        <input type="hidden" name="btnG" value="Search">
        <input type="hidden" name="output" value="xml_no_dtd">
        <input type="hidden" name="sort" value="date:D:L:d1">
        <label style="display: none;" for="q">Search:</label>
        <input type="text" id="q" name="q" maxlength="255">
        <button style="background-color: #FECC6A;color: black;border-radius: 10px;" type="submit">Search</button>
      </form>
    </div>
  </div>

<!--googleoff: index-->

<nav class="nav-container" role="navigation">
<ul class="nav-main">
    <li class="nav-main__item">
      <a class="nav-main__item-title" data-toggle="dropdown" href="/about-us/" id="accessible-megamenu-1479242708834-1" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708834-2" aria-expanded="false">About</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708834-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708834-1">
      <h2>Learn about our District Operations and Strategies</h2>
        <ul class="nav-main__sub-group">
          <li><a href="/board/">Board of Education</a></li>
          <li><a href="http://www.boarddocs.com/mabe/hcpssmd/Board.nsf/public">BoardDocs</a></li>
          <li><a href="/board/policies/">Policies</a></li>
          <li><a href="/board/ombudsman-services/">Ombudsman Services</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
          <li><a href="/about-us/public-information-requests/">Public Information Requests</a></li>
        </ul>
        <ul class="nav-main__sub-group">
          <li><a href="/about-us/superintendent/">Dr. Renee Foose, Superintendent</a></li>
          <li><a href="/vision/">Vision 2018</a></li>
          <!-- <li><a href="/vision/progress-report/">Progress Report on the Strategic Plan</a></li>  -->
          <li><a href="/about-us/annual-reports/">Annual Reports</a></li>
          <li><a href="/about-us/research-data-analysis/">Research and Data Analysis</a></li>
          <li><a href="/about-us/superintendent/teachers-for-tomorrow/">T4T: Teachers for Tomorrow</a></li>
        </ul>
        <ul class="nav-main__sub-group">
          <li><a href="/employment/">Employment</a></li>
          <li><a href="/about-us/budgets/">Budget</a></li>
          <li><a href="/about-us/partnerships/">Partnerships</a></li>
          <li><a href="/about-us/purchasing/">Purchasing</a></li>
          <li><a href="/f/vendors/index.html">Fund Accountability &amp; Transparency</a></li>
        </ul>
        <div class="contents nav-main__item-action">
          <p><a href="/about/">Get an overview of our district →</a></p>
        </div>
      </div>
    </li>
    <li class="nav-main__item">
      <a class="nav-main__item-title" href="/schools/" id="accessible-megamenu-1479242708836-3" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708836-4" aria-expanded="false">Schools</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708836-4" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708836-3">
      <h2>Find out more about our Schools</h2>
          <ul class="nav-main__sub-group">
            <li><a href="/schools/elementary-schools/">Elementary Schools</a></li>
            <li><a href="/schools/middle-schools/">Middle Schools</a></li>
            <li><a href="/schools/high-schools/">High Schools</a></li>
            <li><a href="/schools/education-centers/">Education Centers</a></li>
          </ul>
          <ul class="nav-main__sub-group">
            <li><a href="/schools/emergency-closings/">Emergency Closings</a></li>
            <li><a href="/athletics/">Athletics</a></li>
            <li><a href="/athletics/weather-procedures/">Athletics Weather-Related Procedures</a></li>
            <li><a href="/athletics/contact/">Athletic Contacts</a></li>
            <li><a href="/athletics/forms-and-guidelines/">Athletics Forms</a></li>
          </ul>
          <ul class="nav-main__sub-group">
            <li><a href="/about-us/handbook/">Student Handbook</a></li>
            <li><a href="/schools/visitation/">Visiting Schools</a></li>
            <li><a href="/about-us/safe-schools/">Safe Schools</a></li>
            <li><a href="/school-planning/">School Planning (Maps)</a></li>
            <li><a href="/parents/facilities/">Use of School Facilites</a></li>
          </ul>
        <div class="contents nav-main__item-action">
          <p><a href="/schools/">View all of our schools →</a></p>
        </div>          
      </div>
    </li>
    <li class="nav-main__item">
      <a class="nav-main__item-title" href="/academics/" id="accessible-megamenu-1479242708838-5" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708838-6" aria-expanded="false">Academics</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708838-6" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708838-5">
      <h2>Explore our Academic Programs</h2>
          <ul class="nav-main__sub-group">
            <li><a href="/academics/english-language-arts/">English/Language Arts</a></li>
            <li><a href="/academics/mathematics/">Mathematics</a></li>
            <li><a href="/academics/elementary-science/"> Science (Elementary)</a></li>
            <li><a href="/academics/secondary-science/">Science (Secondary)</a></li>
            <li><a href="/academics/elementary-social-studies/">Social Studies (Elementary)</a></li>
            <li><a href="/academics/secondary-social-studies/">Social Studies (Secondary)</a></li>
          </ul>
          <ul class="nav-main__sub-group">
            <li><a href="/academies/">Career Academies</a></li>
            <li><a href="/academics/career-technology-education/">Career and Tech Education</a></li>
            <li><a href="/academics/digital-education/">Digital Education</a></li>
            <li><a href="/academics/esol/">ESOL</a></li>
            <li><a href="/academics/fine-arts/">Fine Arts</a></li>
            <li><a href="/academics/health-education/">Health Education</a></li>
            <li><a href="/academics/library-media/">Library Media</a></li>
            <li><a href="/academics/physical-education/">Physical Education</a></li>
            <li><a href="/academics/world-language-program/">World Languages</a></li>
          </ul>
          <ul class="nav-main__sub-group">
            <li><a href="/academics/alternative-education/">Alternative Education</a></li>
            <li><a href="/academics/elementary-school-model/">Elementary School Model</a></li>
            <li><a href="/academics/grow-strong-middle-schools/">Grow Strong Middle Schools</a></li>
            <li><a href="/academics/gifted-and-talented/">Gifted and Talented</a></li>
            <li><a href="/academics/instructional-technology/">Instructional Technology</a></li>
            <li><a href="/enroll/kindergarten/">Kindergarten Readiness</a></li>
            <li><a href="/schools/pre-k-programs/">Pre-Kindergarten Programs</a></li>
            <li><a href="/academics/section-504/">Section 504</a></li>
            <li><a href="/academics/service-learning/">Service Learning</a></li>
            <li><a href="/academics/special-education/">Special Education</a></li>
            <li><a href="/academics/testing/">Testing</a></li>
            <li><a href="/academics/title-i-program/">Title I</a></li>
          </ul>
        <div class="contents nav-main__item-action">
          <p><a href="/academics/">Get an overview of our curriculum →</a></p>
        </div>           
      </div>
    </li> 
    <li class="nav-main__item">
      <a class="nav-main__item-title" href="/services/" id="accessible-megamenu-1479242708840-7" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708840-8" aria-expanded="false">Services</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708840-8" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708840-7">
      <h2>Utilize our Services</h2>
        <div class="nav-main__sub-group">
          <ul>
          <li><a href="/enroll/">Enrollment and Registration</a></li>
          <li><a href="/schools/transportation/">Transportation</a></li>
          <li><a href="/food-services/">Food and Nutrition Services</a></li>
          <li><a href="/schools/before-and-after-school-care/">Before and After Care</a></li>
          </ul>
        </div>
        <div class="nav-main__sub-group">
          <ul>
          <li><a href="/special-education/">Special Education</a></li>
          <li><a href="/schools/health-services/">Health Services</a></li>
          <li><a href="/schools/counseling-services/">School Counseling Services</a></li>
          <li><a href="/schools/psychological-services/">Psychological Services</a></li>
          <li><a href="/schools/pupil-personnel-services/">Pupil Personnel Services</a></li>
          </ul>
        </div>
        <div class="nav-main__sub-group">
          <ul>
          <li><a href="/languages/">International Services</a></li>
          <li><a href="/schools/academic-intervention/">Academic Intervention</a></li>
          <li><a href="/home-hospital-teaching/">Home and Hospital</a></li>
          </ul>
        </div>
      </div>
    </li> 
    <li class="nav-main__item">
      <a class="nav-main__item-title" href="/news/" id="accessible-megamenu-1479242708841-9" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708841-10" aria-expanded="false">News</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708841-10" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708841-9">
      <h2>Get the latest News and Events</h2>
        <div class="nav-main__sub-group">
          <ul>
          <li><a href="/news/press-release/">Press Releases</a></li>
          <li><a href="/news/community-event/">Upcoming Events</a></li>
          <li><a href="/news/staff-focus/">Staff Focus</a></li>
          <li><a href="http://celebrate.hcpss.org/">Celebrate HCPSS</a></li>
          <li><a href="/community-news-and-programs/">Community News</a></li>
          </ul>
        </div>
        <div class="nav-main__sub-group">
          <ul>
          <li><a target="_blank" href="https://twitter.com/hcpss/">@HCPSS Twitter</a></li>
          <li><a target="_blank" href="https://www.facebook.com/hocoschools/">Facebook</a></li>
          <li><a target="_blank" href="https://www.instagram.com/hocoschools/">Instagram</a></li>
          <li><a target="_blank" href="/tv/">HCPSS TV</a></li>
          <li><a target="_blank" href="https://superintendent.hcpss.org/">Superintendent's Corner</a></li>
          <li><a target="_blank" href="https://twitter.com/superhcpss/">Dr. Foose on Twitter</a></li>
          <li style="font-size: 14px;margin-top: 10px;"><a href="/social-media-accounts/">See all of our social media accounts →</a></li>
          </ul>
          </div>
        <div class="nav-main__sub-group" id="thirds__sub-box" style="color:#444444; font-size: 12px;">
          <strong>Your HCPSS News Subscription</strong><br>
          Learn more about the email and text alerts included within your HCPSS News subscription.<br><br><span class="subscribe"><a style="color:black;" href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn More&nbsp;→</a></span>
        </div>
        <div class="contents nav-main__item-action">
          <p><a href="/news/">View all of our news stories →</a></p>
        </div>         
      </div>
    </li>  
    <li class="nav-main__item">
      <a class="nav-main__item-title" href="/contact-us/" id="accessible-megamenu-1479242708842-11" aria-haspopup="true" aria-controls="accessible-megamenu-1479242708842-12" aria-expanded="false">Contact</a>
      <div class="nav-main__sub" id="accessible-megamenu-1479242708842-12" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1479242708842-11">
      <h2 style="margin-bottom:0px;">Have a question? Contact us: 410-313-6600</h2>
          <section class="nav-main__sub-group">
          <h2>Main Address</h2>
              <address style="font-style: initial;">10910 Clarksville Pike (Route 108)
              Ellicott City, MD 21042</address>
          </section>
          <section class="nav-main__sub-group">
          <h2>Human Resources</h2>
            <ul style="margin-left: 0.5em;">
              <li><i class="fa fa-user" aria-hidden="true"></i> <a href="/employment/contact.shtml">View all HR Contacts →</a></li>
            </ul>
            <p>Office Phone: 410-313-6693</p>
          </section>
          <section class="nav-main__sub-group">
            <h2>Public Information</h2>
            <ul style="margin-left: 0.5em;">
              <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:publicinfo@hcpss.org">publicinfo@hcpss.org</a></li>
              <li><i class="fa fa-file-text" aria-hidden="true"></i> <a href="/about-us/public-information-requests/">Submit a public information act request →</a></li>
            </ul>
            <p>Office Phone: 410-313-6682</p>
          </section>
        <div class="contents nav-main__item-action">
          <p><a href="/contact/">See all contact information →</a></p>
        </div> 
      </div>
    </li> 
</ul>
</nav>

<input type="checkbox" id="nav-sidebartoggler" autocomplete="off">

<div id="nav-main__mobile_toggle-button">
    <label class="toggle" for="nav-sidebartoggler" tabindex="0"><span class="btn__nav-toggle"> <i class="fa fa-bars" aria-hidden="true"></i> Main Menu</span></label>
</div>

  <div class="nav-main__mobile">
    <div class="nav-main__mobile-close">

    </div>
  <section class="nav-main__mobile-container">

  <div id="accordion-mobile">
    <ul>
      <li>
      <h3>About</h3>
        <ul class="nav-main__mobile-inner">
          <li><a href="/board/">Board of Education</a></li>
          <li><a href="http://www.boarddocs.com/mabe/hcpssmd/Board.nsf/public">BoardDocs</a></li>
          <li><a href="/board/policies/">Policies</a></li>
          <li><a href="/board/ombudsman-services/">Ombudsman Services</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
          <li><a href="/about-us/public-information-requests/">Public Information Requests</a></li>
          <li><a href="/about-us/superintendent/">Dr. Renee Foose, Superintendent</a></li>
          <li><a href="/vision/">Vision 2018</a></li>
          <!-- <li><a href="/vision/progress-report/">Progress Report on the Strategic Plan</a></li>  -->
          <li><a href="/about-us/annual-reports/">Annual Reports</a></li>
          <li><a href="/about-us/research-data-analysis/">Research and Data Analysis</a></li>
          <li><a href="/about-us/superintendent/teachers-for-tomorrow/">T4T: Teachers for Tomorrow</a></li>
          <li><a href="/employment/">Employment</a></li>
          <li><a href="/about-us/budgets/">Budget</a></li>
          <li><a href="/about-us/partnerships/">Partnerships</a></li>
          <li><a href="/about-us/purchasing/">Purchasing</a></li>
          <li><a href="/f/vendors/index.html">Fund Accountability &amp; Transparency</a></li>
        </ul>        
      </li>
      <li>
      <h3>Schools</h3>
        <ul class="nav-main__mobile-inner">
          <li><a href="/schools/elementary-schools/">Elementary Schools</a></li>
          <li><a href="/schools/middle-schools/">Middle Schools</a></li>
          <li><a href="/schools/high-schools/">High Schools</a></li>
          <li><a href="/schools/education-centers/">Education Centers</a></li>
          <li><a href="/schools/emergency-closings/">Emergency Closings</a></li>
          <li><a href="/athletics/">Athletics</a></li>
          <li><a href="/athletics/weather-procedures/">Athletics Weather-Related Procedures</a></li>
          <li><a href="/athletics/contact/">Athletic Contacts</a></li>
          <li><a href="/athletics/forms-and-guidelines/">Athletics Forms</a></li>
          <li><a href="/about-us/handbook/">Student Handbook</a></li>
          <li><a href="/schools/visitation/">Visiting Schools</a></li>
          <li><a href="/about-us/safe-schools/">Safe Schools</a></li>
          <li><a href="/school-planning/">School Planning (Maps)</a></li>
          <li><a href="/parents/facilities/">Use of School Facilites</a></li>
        </ul>
      </li>
      <li>
      <h3>Academics</h3>
        <ul class="nav-main__mobile-inner">
          <li><a href="/academics/english-language-arts/">English/Language Arts</a></li>
          <li><a href="/academics/mathematics/">Mathematics</a></li>
          <li><a href="/academics/elementary-science/"> Science (Elementary)</a></li>
          <li><a href="/academics/secondary-science/">Science (Secondary)</a></li>
          <li><a href="/academics/elementary-social-studies/">Social Studies (Elementary)</a></li>
          <li><a href="/academics/secondary-social-studies/">Social Studies (Secondary)</a></li>
          <li><a href="/academies/">Career Academies</a></li>
          <li><a href="/academics/career-technology-education/">Career and Tech Education</a></li>
          <li><a href="/academics/digital-education/">Digital Education</a></li>
          <li><a href="/academics/esol/">ESOL</a></li>
          <li><a href="/academics/fine-arts/">Fine Arts</a></li>
          <li><a href="/academics/health-education/">Health Education</a></li>
          <li><a href="/academics/library-media/">Library Media</a></li>
          <li><a href="/academics/physical-education/">Physical Education</a></li>
          <li><a href="/academics/world-language-program/">World Languages</a></li>
          <li><a href="/academics/alternative-education/">Alternative Education</a></li>
          <li><a href="/academics/elementary-school-model/">Elementary School Model</a></li>
          <li><a href="/academics/grow-strong-middle-schools/">Grow Strong Middle Schools</a></li>
          <li><a href="/academics/gifted-and-talented/">Gifted and Talented</a></li>
          <li><a href="/academics/instructional-technology/">Instructional Technology</a></li>
          <li><a href="/enroll/kindergarten/">Kindergarten Readiness</a></li>
          <li><a href="/schools/pre-k-programs/">Pre-Kindergarten Programs</a></li>
          <li><a href="/academics/section-504/">Section 504</a></li>
          <li><a href="/academics/service-learning/">Service Learning</a></li>
          <li><a href="/academics/special-education/">Special Education</a></li>
          <li><a href="/academics/testing/">Testing</a></li>
          <li><a href="/academics/title-i-program/">Title I</a></li>
        </ul>
      </li>
      <li>
      <h3>Services</h3>
        <ul class="nav-main__mobile-inner">
          <li><a href="/enroll/">Enrollment and Registration</a></li>
          <li><a href="/schools/transportation/">Transportation</a></li>
          <li><a href="/food-services/">Food and Nutrition Services</a></li>
          <li><a href="/schools/before-and-after-school-care/">Before and After Care</a></li>
          <li><a href="/special-education/">Special Education</a></li>
          <li><a href="/schools/health-services/">Health Services</a></li>
          <li><a href="/schools/counseling-services/">School Counseling Services</a></li>
          <li><a href="/schools/psychological-services/">Psychological Services</a></li>
          <li><a href="/schools/pupil-personnel-services/">Pupil Personnel Services</a></li>
          <li><a href="/languages/">International Services</a></li>
          <li><a href="/schools/academic-intervention/">Academic Intervention</a></li>
          <li><a href="/home-hospital-teaching/">Home and Hospital</a></li>
        </ul>
      </li>
      <li>
      <h3>News</h3>
        <ul class="nav-main__mobile-inner">
          <li><a href="/news/press-release/">Press Releases</a></li>
          <li><a href="/news/community-event/">Upcoming Events</a></li>
          <li><a href="/news/staff-focus/">Staff Focus</a></li>
          <li><a href="http://celebrate.hcpss.org/">Celebrate HCPSS</a></li>
          <li><a href="/community-news-and-programs/">Community News</a></li>
          <li><a target="_blank" href="https://twitter.com/hcpss/">@HCPSS Twitter</a></li>
          <li><a target="_blank" href="https://www.facebook.com/hocoschools/">Facebook</a></li>
          <li><a target="_blank" href="https://www.instagram.com/hocoschools/">Instagram</a></li>
          <li><a target="_blank" href="/tv/">HCPSS TV</a></li>
          <li><a target="_blank" href="https://superintendent.hcpss.org/">Superintendent's Corner</a></li>
          <li><a target="_blank" href="https://twitter.com/superhcpss/">Dr. Foose on Twitter</a></li>
          <li style="font-size:12px;margin-top:10px;"><a href="/social-media-accounts/">See all of our social media accounts →</a></li>
          <li style="color:white;"><strong>Your HCPSS News Subscription</strong><br>
            Learn more about the email and text alerts included within your HCPSS News subscription.<br><br><span class="subscribe"><a style="color:black;" href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn More&nbsp;→</a></span></li>
        </ul>
      </li> 
      <li>
      <h3>Contact Us</h3>
        <ul class="nav-main__mobile-inner">
          <li style="font-size: 16px;"><strong>Main phone: 410-313-6600</strong></li>
          <li><strong>Main Address</strong><br>
            <address style="font-style: initial;">10910 Clarksville Pike (Route 108)
            Ellicott City, MD 21042</address>
          </li>
          <li><strong>Human Resources</strong>
            <p><i class="fa fa-user" aria-hidden="true"></i> <a href="/employment/contact.shtml">View all HR Contacts →</a></p>
            <p>Office Phone: 410-313-6693</p>
          </li>
          <li><strong>Public Information</strong>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:publicinfo@hcpss.org">publicinfo@hcpss.org</a></p>
            <p><i class="fa fa-file-text" aria-hidden="true"></i> <a href="/about-us/public-information-requests/">Submit a public information act request →</a></p>
            <p>Office Phone: 410-313-6682</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  </section>

  </div>

<!--googleon: index-->
</div>


<div class="container page group">
<main class="main">

<!-- <p>&mdash;&mdash; Page Template &mdash;&mdash;</p> -->
{% if page.title == null %} {% elsif page.title %} <h1>{{ page.title }}</h1>  {% endif %}
  {% if page.sidebar_view == null %}
    
  {% elsif page.sidebar_view %}
    <div class="body-content">
  {% endif %}